# ======================
# PYTHON
# ======================
__pycache__/
*.pyc

# ======================
# DATOS (inputs)
# ======================
*/input/
*/No\ Usar\ Input*/

# ======================
# Carpeta Basura
# ======================
*/Basura/
*/No Usar Input (2 entrenamientos distintos)/

# ======================
# LOGS
# ======================
*/logs/

# ======================
# OUTPUTS (MUY IMPORTANTE)
# ======================
*/output/

# ======================
# MODELOS
# ======================
*.pt
*.pth
*.ckpt

# ======================
# ARCHIVOS TEMPORALES
# ======================
*.swp
*.swo

# ======================
# SISTEMA
# ======================
.DS_Store
*/DiT-main/